@page "/child/{Id:int}"
@using Models
@using DNP_Handin1.Data
@inject IDataAdapter FileAdapter
@inject NavigationManager NavigationManager

@if (childToShow == null)
{
    <h3>
        An error occured. Please contact the developer.
    </h3>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    @childToShow.FirstName @childToShow.LastName, @childToShow.Age
                </h1>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-dark" @onclick="@GoBack">
                    <span class="oi oi-arrow-thick-left" aria-hidden="true"></span>
                    Back
                </button>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <ChildParentsComponent MainChild="@childToShow"/>
            </div>
            <div class="col-2">
            </div>
            <div class="col-6">
                <PersonDetailsComponent PersonToShow="@childToShow"/>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4 px-5">
                <ChildBrothersComponent MainChild="@childToShow"/>
            </div>
            <div class="col-4 px-5">
                <ChildInterestsComponent InterestsToDisplay="@childToShow.Interests"/>
            </div>
            <div class="col-4 px-5">
                <ChildPetsComponent PetsToDisplay="@childToShow.Pets"/>
            </div>
        </div>
    </div>
    
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Child childToShow;

    protected override async Task OnInitializedAsync()
    {
        childToShow = await FileAdapter.GetChildByIdAsync(Id);
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/children");
    }
}