@using Models
@using DNP_Handin1.Data
@inject IFileAdapter FileAdapter
@inject NavigationManager NavigationManager
<h3>Family</h3>

@if (FamilyToShow != null)
{
    <h6>#ID, @FamilyToShow.StreetName, @FamilyToShow.HouseNumber</h6>
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-4 px-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Spouse</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Spouse != null)
                    {
                        <tr>
                            <td>
                                @Spouse.FirstName @Spouse.LastName
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                Not married
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-4 px5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>@Children.Count</th>
                        <th>Children</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Child child in Children)
                    {
                        <tr>
                            <td></td>
                            <td>@child.FirstName @child.LastName</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-4 px-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>@Pets.Count</th>
                        <th>Pets</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Pet pet in Pets)
                    {
                        <tr>
                            <td></td>
                            <td>@pet.Name, @pet.Species</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h6>
        No data
    </h6>
}

@code {
    [Parameter]
    public Adult MainAdult { get; set; }

    private Family FamilyToShow;
    private List<Child> Children;
    private List<Pet> Pets;
    private Adult Spouse;

    protected override async Task OnInitializedAsync()
    {
        FamilyToShow = FileAdapter.GetFamilyWithAdult(MainAdult.Id);
        if (FamilyToShow != null)
        {
            Children = FamilyToShow.Children;
            Pets = FamilyToShow.Pets;
        }
        GetSpouse();
    }

    private void GetSpouse()
    {
        Spouse = null;
        foreach (Adult adult in FamilyToShow.Adults)
        {
            if (adult.Id != MainAdult.Id)
            {
                Spouse = adult;
            }
        }
    }
}