@using Models

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-4" style="display: flex;
                                  	flex-direction: column;
                                  	flex-wrap: nowrap;
                                  	justify-content: space-between;
                                  	align-items: baseline;
                                  	align-content: stretch;">
            <h5>Eye color: @PersonToShow.EyeColor</h5>
            <h5>Hair color: @PersonToShow.HairColor</h5>
            <h5>Weight: @PersonToShow.Weight kg</h5>
            <h5>Sex: @PersonToShow.Sex</h5>
        </div>
        <div class="col-md-4">
            <img alt="@PersonToShow.FirstName @PersonToShow.LastName" class="img-fluid rounded" style="max-width: 75%; height: auto" src="@LoadImage()"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Person PersonToShow { get; set; }

    private string LoadImage()
    {
        if (PersonToShow is Adult)
        {
            Random random = new Random();
            if (PersonToShow.Sex.Equals("M"))
            {
                string path = $"Images/adults/male{random.Next(3) + 1}.png";
                return path;
            }
            else
            {
                string path = $"Images/adults/female{random.Next(3) + 1}.png";
                return path;
            }
        }
        else if (PersonToShow is Child)
        {
            Random random = new Random();
            if (PersonToShow.Sex.Equals("M"))
            {
                string path = $"Images/children/male{random.Next(5) + 1}.png";
                return path;
            }
            else
            {
                string path = $"Images/children/female{random.Next(5) + 1}.png";
                return path;
            }
        }
        return "";
    }
}